body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
.jumbtron {
background-image: url("../images/manikin2.jpg")
background-size: cover;
}

.title {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
.btn {
  vertical-align: inherit;
  color: fff;
  background-color: #1a6da0;
  border-color: #1a6da0;
}
body {
  margin-top: 30px;
}
.navbar-inverse .navbar-brand {
  font-family: 'Bungee Shade';
  font-size: 36px;
  color: #ff3061;
  padding-top: 20px;
}
h1 {
  color: blue;
  font-family: 'Dancing Script', cursive;
}
h2 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
h3 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
.rating {
  font-size: 0.4em;
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding: 4px;
  vertical-align: middle;
}
.summary h2, .actors h2 {
  margin-top: 0;
}
.actors li {
  line-height: 24px;
}
.review {
  margin-bottom: 30px;
}
